* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-image: url("../img/run-pattern.png");
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}
.content {
    width: 300px;
    margin: 30px auto;
}
.error-code {
    font-weight: normal;
    font-size: 0.8em;
    padding-top: 5px;
}
input[type=submit], button {
    background-color: #fff;
    border: 2px solid #aaa;
    display: inline-block;
    padding: 6px 12px;
}
input[type=submit]:hover, button:hover {
    background-color: #eee;
    border: 2px solid #888;
}
.login .form {
    /* Form container at login page */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
input[type=text], input[type=password] {
    display: block;
    width: 96%;
    height: 25px;
    border: 1px solid gray;
    margin: 3px 0 10px 0;
    padding: 0 2%;
}
.msg {
    background-color: #FF5C33;
    width: 80%;
    margin: 30px auto;
    padding: 5%;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:480px) {
    body {
        background-image: none;
    }
    .content {
        width: 100%;
        margin: 0;
    }
}