#box {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #888888;
    padding: 10px;
    margin-bottom: 10px;
}
#box_centered {
    display: block;
    max-width: 600px;
    border-radius: 5px;
    border: 1px solid #888888;
    padding: 10px;
    margin: auto;
}
#message {
    display: block;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    padding: 10px;
    margin: auto;
}
h1 {
    color: darkblue;
}
img.run {
    max-width: 300px;
}